<div>
    <h3>Student Details Page</h3><br>

    <p>Student Id: {{this?.student?.studentId}}</p>
    <p>First Name: {{this?.student?.firstName}}</p>
    <p>Last Name: {{this?.student?.lastName}}</p>
    <p>Street Address: {{this?.student?.streetAddress}}</p>
    <p>Apartment Number: {{this?.student?.aptNumber}}</p>
    <p>City: {{this?.student?.city}}</p>
    <p>State: {{this?.student?.state}}</p>
    <p>Zip: {{this?.student?.zip}}</p>
    <p>Telephone Number: {{this?.student?.telephoneNumber}}</p>
    <p>Email: {{this?.student?.email}}</p>
    <p>Link to bio: {{this?.student?.linkToBio}}</p>
    <p>Date of Survey: {{this?.student?.dateOfSurvey}}</p>
    <p>Things You Liked: {{this?.student?.thingsYouLiked}}</p>
    <p>How did you become interested in this university: {{this?.student?.interest}}</p>
    <p>Comments: {{this?.student?.comments}}</p>
    <p>Graduation Month: {{this?.student?.graduationMonth}}</p>
    <p>Graduation Year: {{this?.student?.graduationYear}}</p>
    <p>Likelihood to recommend: {{this?.student?.recommend}}</p>


</div>
